<div id="holder">
<form action="/data" method="POST">
    <h3>Welche Produktarten wurden beworben?</h3>
    <h4>(Durch Komma getrennt eingeben z.B. "Zigaretten, Parfum, Hotels")</h4> 
    <textarea style="width:500px; height:500px;"></textarea><br/>

    <input class="button" type="submit" value="Absenden" />
</form>
</div>
<style>
    #holder{
        margin-left:auto;
        margin-right:auto;
        width:50%;
    }
</style>