<html>
    <head></head>
    <body>
        <form action="/data" method="POST">
              <h3>Kreuzen Sie die gewünschten Zutaten an:</h3> 

                <label for="check1">
                  <input type="checkbox" name="zutat" value="honda" id="check1">
                  Honda
                </label> 
                <label for="check2">
                   <input type="checkbox" name="zutat" value="mercedes" id="check2">
                   Mercedes
                </label> 
                <label for="check3">
                  <input type="checkbox" name="zutat" value="lidl" id="check3">
                  Lidl
                </label> 
            <input type="submit" value="Absenden" />
        </form>
    </body>
</html>