<div id="holder">
    <h2>Umfrage zum Thema Medien im Internet</h2>
    <p>Herzlich Willkommen bei dieser Umfrage. Bitte schaue dir die folgenden Websites und Videos an. Sollte dir langweilig werden,
    kannst du gerne zum nächsten Video übergehen, aber wir würden dich bitten, zumindest 30 Sekunden pro Video zu schauen. 
    Der Zeitaufwand für diese Umfrage beträgt ca. 10 Minuten.<br/>
    Zum Schluss würden wir dich bitten, einige kurze Fragen zu den Videos zu beantworten. Vielen Dank für deine Teilnahme!</p>

    <br/>

    <a class="button" href="/video/0">Umfrage starten</a>

</div>

<style>
    #holder{
        margin-left:auto;
        margin-right:auto;
        width:50%;
    }
</style>