<html>
    <head>
    </head>
    <body>
        <h1>Eine Umfrage</h1>
        <p>Herzlich Willkommen bei dieser Umfrage. Bitte schaue dir die folgenden Websites und Videos an. Sollte
        dir langweilig werden kannst du gerne zum n채chsten Video 체bergehen aber wir w체rden dich bitten zumindest 30 Sekunden
        pro Video zu schauen.<br/>
        Zum Schluss w체rden wir dich bitte einige kurze Fragen zu den Videos zu beantworten.</p>
        <br/>
        <a class="button" href="/video">Umfrage starten</a>
    </body>
</html>